.text-header {
    font-family: "Montserrat", sans-serif;
}
.navbar{
    background-color: #16181A;
}
a{
    text-decoration: none;
}
.social-links{
    background-color: #00000018;
}
body{
    background-color: #383D40;
}
#tabparent{
    padding: 10px;
    background-color: #16181A;
}
@media (max-width: 991px) {
    .socials{
        display: none;
    }
}
@media (max-width: 768px) {
    /* .navbar img,h2{
        display: none;
    } */
}
#imageContainer{
    text-align: center;
    margin-top:    10px;
    margin-bottom: 40px;
}
#qrimg{
    height: 300px;
}
/* @media (max-width: 768px) {
   video{
       width: 3000px;
       margin: 0;
   }
}
video{
    height: 100%;
} */
